@page
@model Identidade.Server.Pages.Account.AccessDeniedModel
@{
}
<div class="row">
    <div class="col">
        <h1>Acesso Negado</h1>
        <p>Você não possui permissão para acessar esse conteudo</p>
    </div>
</div>