@page
@model Identidade.Server.Pages.Account.ForgotPassword.ForgotPasswordModel
    <div style="max-width: 300px">     
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mb-3">                
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Username" />
                <div id="emailHelp" class="form-text">Informe seu login e siga os passos informados em seu e-mail</div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="row mb-3">
                <button class="btn btn-info btn" type="submit" value="Reset">Reset</button>
            </div>
        </form>
    </div>
    @section Scripts {

    }
