@page
@model Serede.Identidade.Pages.Login.Index

<partial name="_ValidationSummary" />
<div class="card w-25">    
    <div class="card-body text-center">
        <div class="d-flex flex-column justify-content-center">
            <form asp-page="/Account/Login/Index">
                <input type="hidden" asp-for="Input.ReturnUrl" />

                <div class="form-group">
                    <label asp-for="Input.Username" class="label-serede"></label>
                    <input class="form-control form-control-sm" placeholder="Username" asp-for="Input.Username" autofocus>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password" class="label-serede"></label>
                    <input  class="form-control form-control-sm" placeholder="Password" asp-for="Input.Password">
                </div>

                @if (Model.View.AllowRememberLogin)
                {
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" asp-for="Input.RememberLogin">
                            <label class="form-check-label label-serede" asp-for="Input.RememberLogin">
                                Lembrar Login
                            </label>
                        </div>
                    </div>
                }
                <div class="d-flex flex-column">
                    <button class="btn btn-sm btn-serede" name="Input.Button" value="login">Entrar</button>
                    <label class="label"><a href="~/Account/ForgotPassword">Resetar Senha</a></label>
                    <label class="label">Não sei meu ID</label>
                </div>
            </form>
        </div>
    </div>
</div>      