.back-identidade {
  background-image: url("../imagens/redes.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

main > .container, main > .container-fluid {
  padding: 30px 15px 20px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.thead-header {
  background-color: rgba(0, 0, 0, 0.03);
}

body {
  background: rgb(166, 96, 173);
  background: linear-gradient(34deg, rgb(166, 96, 173) 0%, rgb(142, 61, 119) 19%, rgb(85, 125, 142) 35%, rgb(146, 233, 247) 45%, rgb(255, 255, 255) 45%);
  color: #3d3d3d !important;
}

label {
  /*color: rgb(119, 119, 119);*/
  display: inline-block !important;
  max-width: 100% !important;
  margin-bottom: 0.1rem;
}

tr {
  line-height: 2rem;
}

th, td {
  color: #777777;
  vertical-align: middle !important;
}

.form-group {
  margin-bottom: 0.5rem;
}

.form-group > button {
  margin-bottom: -1rem !important;
}

table > thead > tr {
  height: 52px !important;
}

.btnteste {
  color: rgb(119, 119, 119);
  font-weight: bold;
}

.btnteste:hover {
  color: #3d3d3d;
}

.link-button {
  background: none;
  border: none;
  /*color: #F4F4F4;*/
  text-decoration: none;
  cursor: pointer;
}

.link-button:hover {
  color: #3d3d3d;
}

.card-header {
  font-weight: bold;
}

.label-serede {
  color: rgb(158, 157, 157);
  text-decoration: none;
}

.label-serede a {
  color: rgb(158, 157, 157);
  font-weight: bold;
  text-decoration: none;
}

.label-serede .ng-fa-icon:not(.btn .ng-fa-icon) {
  color: rgb(255, 115, 0);
  font-weight: bold;
  text-decoration: none;
}

.btn-inline {
  margin-top: 28px;
  margin-bottom: 16px;
}

.grid-form-check-input {
  margin-top: auto;
  margin-left: auto;
}

.thead-header {
  background-color: rgba(0, 0, 0, 0.03);
}

.btn-serede {
  color: #F4F4F4;
  background-color: #fe7300;
  border-bottom: 1px solid #fe7300;
  border-top: 1px solid #fe7300;
  border-right: 1px solid #fe7300;
}

.btn-serede:hover {
  color: #3d3d3d;
}

/*$secondary-serede: #740954 !default;
$primary-serede: #fe7300 !default;*/
.form-group {
  padding-left: 10px;
  padding-right: 10px;
}

.backgroud-degrade-serede-conecta {
  background: rgb(115, 8, 85);
  background: linear-gradient(90deg, rgb(115, 8, 85) 0%, rgb(166, 96, 173) 30%, rgb(85, 125, 142) 60%, rgb(146, 233, 247) 90%);
}

.degrade-invertido {
  background: rgb(255, 255, 255);
  background: linear-gradient(34deg, rgb(255, 255, 255) 55%, rgb(146, 233, 247) 55%, rgb(85, 125, 142) 65%, rgb(142, 61, 119) 81%, rgb(166, 96, 173) 100%);
}

.line-backgroud-degrade-serede-conecta {
  border: 1px solid rgb(115, 8, 85) !important;
}

tr {
  line-height: 2rem;
}

th, td {
  color: #777777;
  vertical-align: middle !important;
}

.form-group {
  margin-bottom: 0.5rem;
}

.form-group > button {
  margin-bottom: -1rem !important;
}

label.required:after {
  color: #d00;
  content: "*";
  margin-left: 5px;
}

label.required-check:after {
  color: #d00;
  content: "*";
  margin-right: 5px;
  top: 7px;
}

table > thead > tr {
  height: 52px !important;
}

.link-filtros {
  color: rgb(158, 157, 157);
  font-weight: bold;
  text-decoration: none;
}

.link-filtros:hover {
  color: rgb(158, 157, 157);
  font-weight: bold;
  text-decoration: none;
  box-shadow: none !important;
}

.link-filtros .ng-fa-icon {
  color: rgb(255, 115, 0);
  font-weight: bold;
  text-decoration: none;
}

.link-filtros:active {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.link-filtros.change:hover {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.link-filtros:focus {
  outline: 0 !important;
  box-shadow: none !important;
}
